name: PR build & test

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, reopened, edited, synchronize ]

jobs:
  build_test:
    name: Build & test
    strategy:
      matrix:
        os: [ self-hosted-ubuntu-2204 ]
        java-version: [ 17 ]
        node-version: [ 18 ]
    runs-on: {{ "${{ matrix.os }}" }}
    env:
      GITHUB_TOKEN: {{ "${{ secrets.ACTION_GITHUB_TOKEN }}" }}

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: {{ "${{ secrets.DOCKERHUB_USERNAME }}" }}
          password: {{ "${{ secrets.DOCKERHUB_TOKEN }}" }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK & Maven caching
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: maven

      - name: Formatting check
        run: ./mvnw -B spotless:check

      - name: Build & test
        run: ./mvnw -B clean verify

      - name: Release dry run
        id: semantic
        uses: cycjimmy/semantic-release-action@v3
        with:
          dry_run: true
          extra_plugins: |
            @semantic-release/git