name: PR scan Docker image

on:
  workflow_dispatch:
  pull_request:
    types: [ opened, reopened, edited, synchronize ]

jobs:
  scan_image:
    name: Scan Docker image for vulnerabilities
    strategy:
      matrix:
        os: [ self-hosted-ubuntu-2204 ]
        java-version: [ 17 ]
    runs-on: {{ "${{ matrix.os }}" }}
    env:
      GITHUB_TOKEN: {{ "${{ secrets.ACTION_GITHUB_TOKEN }}" }}

    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: {{ "${{ secrets.DOCKERHUB_USERNAME }}" }}
          password: {{ "${{ secrets.DOCKERHUB_TOKEN }}" }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK & Maven caching
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: {{ "${{ matrix.java-version }}" }}
          cache: maven

      - name: Build Docker image with Spring Boot Maven plugin
        run: ./mvnw -B spring-boot:build-image -DskipTests=true

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'streams/{{ project_slug }}:latest'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          timeout: '10m'
        env:
          TRIVY_SKIP_DB_UPDATE: true
          TRIVY_SKIP_JAVA_DB_UPDATE: true
